<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.houyuli.cms.dao.UserMapper">
	<select id="selectUsers" resultType="User">
		select * from cms_user
		<where>
			<if test="username!=null and username!=''">
				username like "%"#{username}"%"
			</if>
			<if test="locked!=null">
				and locked = #{locked}
			</if>
			<if test="createdStart!=null and createdStart!=''">
				and created >= #{createdStart}
			</if>
			<if test="createdEnd!=null and createdEnd!=''">
				and created &lt;= #{createdEnd}
			</if>
		</where>
		order by created desc
	</select>

	<update id="updateUser">
		update cms_user
		<trim prefix="set" suffix="where id =#{id}" suffixOverrides=",">
			<if test="username!=null and username!=''">
				username =#{usename},
			</if>
			<if test="password!=null and password!=''">
				password =#{password},
			</if>
			<if test="nickname!=null and nickname!=''">
				nickname =#{nickname},
			</if>
			<if test="locked!=null">
				locked =#{locked},
			</if>
		</trim>
	</update>
	<insert id="insertUser">
		insert into cms_user (username,password,gender) values (#{username},#{password},#{gender})
	</insert>
	<select id="selectUserByName" resultType="User">
		select * from cms_user where username = #{username}
	</select>
</mapper>